
body{
	background-color: green;
}

#Menu{
	text-align: center;
	font-size: 7em;
	text-shadow: 3px 3px gray;
}

.Course{
	text-indent: 100px;
	font-size: 3em;
	font-family: Courier;
}

.Food{
	margin-left: 100px;
	font-size: 2em;
	font-style: oblique;
}

.Dish{
	margin-left: 150px;
	font-size: 1.5em;
}

footer{
	text-align: center;
}